body {
    background-color: #f5f5f5;
  }

  .row {
    display: flex;
  }
  
  .column1 {
    width: 66%;
    padding: 0 1px 0 0;
    float: center;
  }

  .column2 {
    width: 33%;
    padding: 0 1px 0 0;
    float: right;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .word {
    font-size: 2rem;
    margin: 20px;
    display: flex;
    justify-content: center;
  }
  
  .letters {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .letters button {
    margin: 5px;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    background-color: blue;
    color: #fff;
    cursor: pointer;
  }
  
  .message {
    font-size: 1.5rem;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .status {
    font-size: 1.5rem;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .crises {
    font-size: 1.25rem;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }